:root {
  --main-color-titel: #212121;
  --main-color-text: #757575;
  --color-blue: #2196f3;
  --color-white: #ffffff;
  --color-activ-button: #188ce8;
  --color-background-heroes: #2f303a;
  --color-background-our-team: #f5f4fa;
  --color-border: #eeeeee;
  --color-backgraund-link: rgba(255, 255, 255, 0.6);
  --color-border-head: #ececec;
}